flows/Agile_Accelerator_Integration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_New_Sprint_to_Variable</name>
        <label>Assign New Sprint to Variable</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>SprintIDforUpdateUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sprint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_STory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_for_Update_User_Story</name>
        <label>Assign Project for Update User Story</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ProjectIDforUpdateUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copado_Project_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Copado_Sprint_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProjectID_to_Variable</name>
        <label>Assign ProjectID to Variable</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ProjectIDforNewUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copado_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Copado_Sprint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sprint_ID_to_Variable</name>
        <label>Assign Sprint ID to Variable</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>SprintIDforUpdateUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copado_Sprint_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_STory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Story_Project_ID_to_New_Project</name>
        <label>Assign User Story Project ID to New Project</label>
        <locationX>842</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ProjectIDforUpdateUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Copado_Sprint_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variable_to_new_sprint</name>
        <label>Assign variable to new sprint</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>SprintIDForNewUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_sprint_for_new_user_story</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variable_to_sprint</name>
        <label>Assign variable to sprint</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>SprintIDForNewUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Copado_Sprint_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_Story</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Variable_to_New_Project</name>
        <label>Set Project Variable to New Project</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ProjectIDforNewUserStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_project_for_new_user_story</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Copado_Sprint</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_to_see_if_project_exists</name>
        <label>Check to see if project exists</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Project</defaultConnectorLabel>
        <rules>
            <name>Project_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Copado_Project_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_for_Update_User_Story</targetReference>
            </connector>
            <label>Project exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_see_if_sprint_exists</name>
        <label>Check to see if sprint exists</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Create_Sprint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create new sprint</defaultConnectorLabel>
        <rules>
            <name>Sprint_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Copado_Sprint_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sprint_ID_to_Variable</targetReference>
            </connector>
            <label>Sprint Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_update_or_stop_the_flow</name>
        <label>Create update or stop the flow</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>User story doesn&apos;t exist and does not meet requirements to create user story</defaultConnectorLabel>
        <rules>
            <name>Create_a_new_user_story</name>
            <conditionLogic>1 AND ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_story_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agf__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.agf__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Copado_Project</targetReference>
            </connector>
            <label>Create a new user story</label>
        </rules>
        <rules>
            <name>Update_Existing_User_Story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_story_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Copado_Project_0</targetReference>
            </connector>
            <label>Update Existing User Story</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_project_exists_for_new_user_story</name>
        <label>Does project exists for new user story</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_project_for_new_user_story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to create new project</defaultConnectorLabel>
        <rules>
            <name>Project_exists_for_new_user_story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Copado_Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ProjectID_to_Variable</targetReference>
            </connector>
            <label>Project exists for new story</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Sprint_Exist_for_new_user_story</name>
        <label>Does Sprint Exist for new user story</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Create_sprint_for_new_user_story</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create new sprint for new user story</defaultConnectorLabel>
        <rules>
            <name>Sprint_exists_for_new_user_story</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Copado_Sprint.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variable_to_sprint</targetReference>
            </connector>
            <label>Sprint exists for new user story</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DetermineUserStoryRecordTypeID</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!WorkItemRecordTypeIDName},&quot;User Story&quot;),
{!UserStoryRecordTypeID.Id},
IF(
CONTAINS({!WorkItemRecordTypeIDName},&quot;Bug&quot;),
{!BugUserStoryRecordTypeID.Id},
IF(
CONTAINS({!WorkItemRecordTypeIDName},&quot;Investigation&quot;),
{!InvestigationUserStoryRecordTypeID.Id},
{!UserStoryRecordTypeID.Id})
))</expression>
    </formulas>
    <interviewLabel>Agile Accelerator Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agile Accelerator Integration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Assign_User_Story_Project_ID_to_New_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.agf__Scrum_Team__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_project_for_new_user_story</name>
        <label>Create project for new user story</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Set_Project_Variable_to_New_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.agf__Scrum_Team__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sprint</name>
        <label>Create Sprint</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Assign_New_Sprint_to_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__End_Date__c</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.agf__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Date__c</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.agf__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_sprint_for_new_user_story</name>
        <label>Create sprint for new user story</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Assign_variable_to_new_sprint</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__End_Date__c</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.agf__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Date__c</field>
            <value>
                <elementReference>$Record.agf__Sprint__r.agf__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_Story</name>
        <label>Create User Story</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_User_Story_Look_Up_on_Work_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>DetermineUserStoryRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Actual_Points_Other__c</field>
            <value>
                <elementReference>$Record.agf__Story_Points__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Developer__c</field>
            <value>
                <elementReference>$Record.agf__Assignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Functional_Specifications__c</field>
            <value>
                <elementReference>$Record.agf__Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Project__c</field>
            <value>
                <elementReference>ProjectIDforNewUserStory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Sprint__c</field>
            <value>
                <elementReference>SprintIDForNewUserStory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>$Record.agf__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story_Title__c</field>
            <value>
                <elementReference>$Record.agf__Subject__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get</name>
        <label>GetUserStoryRecordTypeID</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBugUserStoryRecordID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User Story</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__User_Story__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>UserStoryRecordTypeID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Copado_Project</name>
        <label>Get Copado Project</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_project_exists_for_new_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agf__Scrum_Team__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copado_Project_0</name>
        <label>Get Copado Project</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_to_see_if_project_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agf__Scrum_Team__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copado_Sprint</name>
        <label>Get Copado Sprint</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Sprint_Exist_for_new_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agf__Sprint__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copado_Sprint_0</name>
        <label>Get Copado Sprint</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_to_see_if_sprint_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.agf__Sprint__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_story_record</name>
        <label>Get user story record</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBugUserStoryRecordID</name>
        <label>GetBugUserStoryRecordID</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvestigationUserStoryRecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bug</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__User_Story__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BugUserStoryRecordTypeID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetInvestigationUserStoryRecordTypeID</name>
        <label>GetInvestigationUserStoryRecordTypeID</label>
        <locationX>644</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_update_or_stop_the_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>copado__User_Story__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>InvestigationUserStoryRecordTypeID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_STory</name>
        <label>Update User Story</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_user_story_look_up_on_updated_work_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Actual_Points_Other__c</field>
            <value>
                <elementReference>$Record.agf__Story_Points__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Developer__c</field>
            <value>
                <elementReference>$Record.agf__Assignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Functional_Specifications__c</field>
            <value>
                <elementReference>$Record.agf__Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Project__c</field>
            <value>
                <elementReference>ProjectIDforUpdateUserStory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Sprint__c</field>
            <value>
                <elementReference>SprintIDforUpdateUserStory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>$Record.agf__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story_Title__c</field>
            <value>
                <elementReference>$Record.agf__Subject__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_user_story_look_up_on_updated_work_item</name>
        <label>Update user story look up on updated work item</label>
        <locationX>710</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>User_Story__c</field>
            <value>
                <elementReference>Get_user_story_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Story_Look_Up_on_Work_Item</name>
        <label>Update User Story Look Up on Work Item</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <inputAssignments>
            <field>User_Story__c</field>
            <value>
                <elementReference>Create_User_Story</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_story_record</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND ( 9 )</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Details__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Subject__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Assignee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Story_Points__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Scrum_Team__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Sprint__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>agf__Scrum_Team_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>agf__ADM_Work__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BugUserStoryRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>InvestigationUserStoryRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ProjectIDforNewUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectIDforUpdateUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SprintIDForNewUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SprintIDforUpdateUserStory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserStoryRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>WorkItemRecordTypeIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.RecordType.Name</elementReference>
        </value>
    </variables>
</Flow>
