flows/Auto_Add_Components_to_User_Story.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Kick_off_Auto_Add</name>
        <label>Kick off Auto Add</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Result_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>a0c8c00000JJyDIAA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>kickoffautoaddmetadatatouserstory</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>setparameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_user_story_id</name>
        <label>assign user story id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>userstoryid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kick_off_Auto_Add</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>setparameters</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;name&quot;:&quot;usId&quot;,&quot;value&quot;:&quot;&apos;&amp; {!userstory.Id} &amp;&apos;&quot;}]&apos;</expression>
    </formulas>
    <interviewLabel>Auto Add Components to User Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Add Components to User Story</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Result_Record</name>
        <label>Get Result Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Result_Record_with_User_Story_ID</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Result__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Result_Record_with_User_Story_ID</name>
        <label>Update Result Record with User Story ID</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Result_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_user_story_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>userstory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>userstoryid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
