flows/Auto_Add_CRT_Tests_to_User_Story.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Account_Test</name>
        <label>Assign Account Test</label>
        <locationX>1826</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Regression_Test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Test</name>
        <label>Assign Contact Test</label>
        <locationX>2706</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Regression_Test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Test_Name</name>
        <label>Assign Lead Test Name</label>
        <locationX>1386</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_Regression_Test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Test_Name</name>
        <label>Assign Opp Test Name</label>
        <locationX>2266</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Test</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_Test_on_Story</name>
        <label>Is Account Test on Story</label>
        <locationX>1958</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Account_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Test</targetReference>
            </connector>
            <label>Create Account Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Test_On_Story</name>
        <label>Is Contact Test On Story</label>
        <locationX>2838</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Contact_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Test</targetReference>
            </connector>
            <label>Create Contact Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Test_on_Story</name>
        <label>Is Lead Test on Story</label>
        <locationX>1518</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Lead_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Test_Name</targetReference>
            </connector>
            <label>Create Lead Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Test_On_Story</name>
        <label>Is Opportunity Test On Story</label>
        <locationX>2398</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Opportunity_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Test_Name</targetReference>
            </connector>
            <label>Create Opportunity Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Current_Metadata</name>
        <label>What is Current Metadata</label>
        <locationX>2332</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Metadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lead.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Test</targetReference>
            </connector>
            <label>Is Lead Metadata</label>
        </rules>
        <rules>
            <name>Is_Account_Metadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Test</targetReference>
            </connector>
            <label>Is Account Metadata</label>
        </rules>
        <rules>
            <name>Is_Opportunity_Metadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Opportunity.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Test</targetReference>
            </connector>
            <label>Is Opportunity Metadata</label>
        </rules>
        <rules>
            <name>Is_Contact_Metadata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Test</targetReference>
            </connector>
            <label>Is Contact Metadata</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Add CRT Tests to User Story {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Add CRT Tests to User Story</label>
    <loops>
        <name>Loop_All_Metadata</name>
        <label>Loop All Metadata</label>
        <locationX>1298</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_All_User_Story_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_Current_Metadata</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Regression_Test</name>
        <label>Create Account Regression Test</label>
        <locationX>1826</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_All_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountTestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Regression_Test</name>
        <label>Create Contact Regression Test</label>
        <locationX>2706</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_All_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactTestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Regression_Test</name>
        <label>Create Lead Regression Test</label>
        <locationX>1386</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_All_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadTestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Test</name>
        <label>Create Opp Test</label>
        <locationX>2266</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_All_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityTestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Test</name>
        <label>Get Account Test</label>
        <locationX>1958</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Test_on_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountTestName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_User_Story_Metadata</name>
        <label>Get All User Story Metadata</label>
        <locationX>1298</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Test</name>
        <label>Get Contact Test</label>
        <locationX>2838</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Test_On_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactTestName</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Test</name>
        <label>Get Lead Test</label>
        <locationX>1518</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Test_on_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadTestName</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Test</name>
        <label>Get Opportunity Test</label>
        <locationX>2398</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Test_On_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_All_Metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityTestName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>copado__User_Story_Commit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_for_Metadata_To_Be_Created</name>
            <connector>
                <targetReference>Get_All_User_Story_Metadata</targetReference>
            </connector>
            <label>Wait for Metadata To Be Created</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConfigurationTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Test__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Test__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Test__c</objectType>
    </variables>
    <variables>
        <name>LeadTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Lead Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Opportunity Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestConfigurationField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{   &quot;testId&quot; : &quot;a1r8c00000CXmKjAAL&quot;,   &quot;testCases&quot; : &quot;&quot;,   &quot;namedCredentialName&quot; : &quot;CRT&quot;,   &quot;namedCredentialId&quot; : &quot;0XA8c0000010zLpGAI&quot;,   &quot;extensionConfigId&quot; : &quot;a0f8c00000RHZTAAA5&quot;,   &quot;crtTestSuiteName&quot; : &quot;{!ConfigurationTestName}&quot;,   &quot;crtTestSuiteId&quot; : &quot;30900&quot;,   &quot;crtRobotId&quot; : &quot;12706&quot;,   &quot;crtProjectName&quot; : &quot;Dan Kellogg&quot;,   &quot;crtProjectId&quot; : &quot;23896&quot;,   &quot;crtOrganizationName&quot; : &quot;Copado Sales Engineers&quot;,   &quot;crtOrganizationId&quot; : &quot;583&quot;  }</stringValue>
        </value>
    </variables>
</Flow>
