flows/Button_to_Auto_Add_CRT_Tests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Account_Test_Name</name>
        <label>Assign Account Test Name</label>
        <locationX>704</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRegressionTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Test_Name</name>
        <label>Assign Contact Test Name</label>
        <locationX>1584</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRegressionTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Test_Name</name>
        <label>Assign Lead Test Name</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadRegressionTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Test_Name</name>
        <label>Assign Opportunity Test Name</label>
        <locationX>1144</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRegressionTestName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Test_Name</name>
        <label>Clear Test Name</label>
        <locationX>1210</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ConfigurationTestName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Metadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Metadata</name>
        <label>Determine Metadata</label>
        <locationX>1210</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Lead.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_tests</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Test</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Opportunity.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Test</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_metadata.copado__Metadata_API_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contact.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Test</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_test_record_exist</name>
        <label>Does a test record exist</label>
        <locationX>1210</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_create_test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfigurationTestName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Record</targetReference>
            </connector>
            <label>Need to create test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Test_On_User_Story</name>
        <label>Is Account Test On User Story</label>
        <locationX>836</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Account_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Test_Name</targetReference>
            </connector>
            <label>Create Account Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Test_on_User_Story</name>
        <label>Is Contact Test on User Story</label>
        <locationX>1716</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Contact_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Test_Name</targetReference>
            </connector>
            <label>Create Contact Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Test_on_User_Story</name>
        <label>Is Lead Test on User Story</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Lead_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_tests.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Test_Name</targetReference>
            </connector>
            <label>Create Lead Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Test_on_User_Story</name>
        <label>Is Opportunity Test on User Story</label>
        <locationX>1276</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Opportunity_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Test.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Test_Name</targetReference>
            </connector>
            <label>Create Opportunity Test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Button to Auto Add CRT Tests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Button to Auto Add CRT Tests</label>
    <loops>
        <name>Loop_through_all_metadata</name>
        <label>Loop through all metadata</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_User_Story_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Test_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Test_Record</name>
        <label>Create Test Record</label>
        <locationX>1078</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConfigurationTestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Test</name>
        <label>Get Account Test</label>
        <locationX>836</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Test_On_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRegressionTestName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Test</name>
        <label>Get Contact Test</label>
        <locationX>1716</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Test_on_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRegressionTestName</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_tests</name>
        <label>Get Lead tests</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Lead_Test_on_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRegressionTestName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Test</name>
        <label>Get Opportunity Test</label>
        <locationX>1276</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Test_on_User_Story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRegressionTestName</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story_Metadata</name>
        <label>Get User Story Metadata</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConfigurationTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Lead Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Opportunity Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestConfigurationField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{   &quot;testId&quot; : &quot;a1r8c00000CXmKjAAL&quot;,   &quot;testCases&quot; : &quot;&quot;,   &quot;namedCredentialName&quot; : &quot;CRT&quot;,   &quot;namedCredentialId&quot; : &quot;0XA8c0000010zLpGAI&quot;,   &quot;extensionConfigId&quot; : &quot;a0f8c00000RHZTAAA5&quot;,   &quot;crtTestSuiteName&quot; : &quot;{!ConfigurationTestName}&quot;,   &quot;crtTestSuiteId&quot; : &quot;30900&quot;,   &quot;crtRobotId&quot; : &quot;12706&quot;,   &quot;crtProjectName&quot; : &quot;Dan Kellogg&quot;,   &quot;crtProjectId&quot; : &quot;23896&quot;,   &quot;crtOrganizationName&quot; : &quot;Copado Sales Engineers&quot;,   &quot;crtOrganizationId&quot; : &quot;583&quot;  }</stringValue>
        </value>
    </variables>
    <variables>
        <name>userstory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
