flows/DJK_Beta_Add_Changes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Kick_off_tests</name>
        <label>Kick off tests</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_result_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Execution_Errors</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>a0c8c00000JJyDIAA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>djkbetaautoadd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parameters</name>
            <value>
                <elementReference>parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_parameters_to_apex</name>
        <label>Add parameters to apex</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addChanges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>usId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kick_off_tests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_result_Id</name>
        <label>Assign result Id</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>resultId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Kick_off_tests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Automation_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Apex_Parameter</name>
        <label>Assign Values for Apex Parameter</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>addChanges.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Changes_From</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>usId.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addChanges.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>addChanges</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>usId.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_parameters_to_apex</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Done_Since_Last_Commit_Date</name>
        <choiceText>Done Since Last Commit Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Done Since Last Commit Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done_Since_Yesterday</name>
        <choiceText>Done Since Yesterday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Done Since Yesterday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Done_Today</name>
        <choiceText>Done Today</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Done Today</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>sendinputparameters</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;inputParameters&quot;: [{&quot;key&quot;: &quot;USERSTORYID&quot;, &quot;value&quot;: &quot;userstory.Id&quot;},{&quot;key&quot;: &quot;ADDCHANGES&quot;, &quot;value&quot;: &quot;doneSince&quot;}]}&apos;</expression>
    </formulas>
    <formulas>
        <name>setparameters</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;name&quot;:&quot;PARAMETERS&quot;,&quot;value&quot;:&quot;&apos;&amp; {!sendinputparameters} &amp;&apos;&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Flow.FaultMessage}, &apos;An Apex error occurred: CopadoFunctionException:&apos;, &apos;&apos;), &apos;An Apex error occurred: copado.CopadoFunctionException:&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>DJK Beta Add Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DJK Beta Add Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Automation_Status</name>
        <label>Automation Status</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Execution_Monitor</name>
            <extensionName>copado:resultStatusMonitor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__Result__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>resultId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDetailLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Execution_Errors</name>
        <label>Execution Errors</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <extensionName>copado:errorContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>validationError</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetCommitInfo</name>
        <label>GetCommitInfo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_for_Apex_Parameter</targetReference>
        </connector>
        <fields>
            <name>Add_Changes_From</name>
            <choiceReferences>Done_Today</choiceReferences>
            <choiceReferences>Done_Since_Yesterday</choiceReferences>
            <choiceReferences>Done_Since_Last_Commit_Date</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Changes</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorValidation_LWC</name>
            <extensionName>copado:errorContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCommitInfo</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>addChanges</name>
        <apexClass>copado__Parameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>doneSince</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parameters</name>
        <apexClass>copado__Parameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userstory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
    <variables>
        <name>usId</name>
        <apexClass>copado__Parameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
