flows/Environment_Requires_Approval_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_to_see_if_Target_Environment_requires_approval</name>
        <label>Check to see if Target Environment requires approval</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Next_Env_Field_on_Env_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Requires_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Required_to_Environment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Env_Field_on_Env_Record</targetReference>
            </connector>
            <label>Target Requires Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Environment Requires Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Environment Requires Approval Flow</label>
    <loops>
        <name>Loop_through_each_pipeline_connection</name>
        <label>Loop through each pipeline connection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Pipeline_Connections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_to_see_if_Target_Environment_requires_approval</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pipeline_Connections</name>
        <label>Get Pipeline Connections</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_pipeline_connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination_Environment_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Deployment_Flow_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_Env_Field_on_Env_Record</name>
        <label>Update Next Env Field on Env Record</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_through_each_pipeline_connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline_connection.copado__Source_Environment__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Env_in_Pipeline_Requires_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Next_Env_Field_on_Env_Record_0</name>
        <label>Update Next Env Field on Env Record</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_through_each_pipeline_connection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_each_pipeline_connection.copado__Source_Environment__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Env_in_Pipeline_Requires_Approval__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__Environment__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pipeline_Connections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Required_to_Environment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__Environment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
