flows/Rename_Promotion_Name_with_Number_of_User_Stories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Number_of_user_stories_in_array</name>
        <label>Number of user stories in array</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CountofPromotedUserStories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Promoted_User_Stories_Tied_to_Same_Promotion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountofStoriesWithApex</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UserStoriesWithApex_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stories_have_apex</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>UserStoriesWithApex_0</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>UserStoriesWithApex</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_UserStoriesWithApex</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Promoted_User_Stories_Tied_to_Same_Promotion</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_UserStoriesWithApex.Has_Apex__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Number_of_user_stories_in_array</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Stories_have_apex</name>
        <label>Stories have apex</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Update_Approval_Process_Field_on_Promotion_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>At_least_1_story_with_apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofStoriesWithApex</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Process_Field_And_Test_Level_on_Promotion_Record</targetReference>
            </connector>
            <label>At least 1 story with apex</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rename Promotion Name with Number of User Stories {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rename Promotion Name with Number of User Stories</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Promoted_User_Stories_Tied_to_Same_Promotion</name>
        <label>Get Promoted User Stories Tied to Same Promotion</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserStoriesWithApex_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Promoted_User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Process_Field_And_Test_Level_on_Promotion_Record</name>
        <label>Update Approval Process Field And Test Level on Promotion Record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Process_Promotion_Name__c</field>
            <value>
                <elementReference>Userstoriesreadyfor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Environment_Test_Level__c</field>
            <value>
                <elementReference>$Record.copado__Promotion__r.copado__Destination_Environment__r.Deployment_Test_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Promotion__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approval_Process_Field_on_Promotion_Record_0</name>
        <label>Update Approval Process Field on Promotion Record</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Promotion__r.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Process_Promotion_Name__c</field>
            <value>
                <elementReference>Userstoriesreadyfor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Environment_Test_Level__c</field>
            <value>
                <stringValue>NoTestRun</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Promotion__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Promoted_User_Stories_Tied_to_Same_Promotion</targetReference>
        </connector>
        <object>copado__Promoted_User_Story__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Userstoriesreadyfor</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CountofPromotedUserStories} User Stories ready for {!$Record.Destination_Promotion_Environment_Name__c}</text>
    </textTemplates>
    <variables>
        <name>ArrayListofPromotedUserStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>CountofPromotedUserStories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofStoriesWithApex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_PromotedUserStoriesWithApex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>currentItem_UserStoriesWithApex</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Promoted_User_Story__c</objectType>
    </variables>
    <variables>
        <name>NewPromotionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
