flows/Simplify_Flow_To_Add_CRT_Tests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Does_a_test_record_exist</name>
        <label>Does a test record exist</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_create_test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Test_Record</targetReference>
            </connector>
            <label>Need to create test</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TestName</name>
        <dataType>String</dataType>
        <expression>IF(
CONTAINS({!Loop_through_all_metadata.copado__Metadata_API_Name__c},&quot;Lead.&quot;), 
{!LeadRegressionTestName}, 
IF(
CONTAINS({!Loop_through_all_metadata.copado__Metadata_API_Name__c},&quot;Account.&quot;), 
{!AccountRegressionTestName}, 
IF(
CONTAINS({!Loop_through_all_metadata.copado__Metadata_API_Name__c},&quot;Opportunity.&quot;), 
{!OpportunityRegressionTestName},
IF(
CONTAINS({!Loop_through_all_metadata.copado__Metadata_API_Name__c},&quot;Contact.&quot;), 
{!ContactRegressionTestName},NULL  
)
)
)
)</expression>
    </formulas>
    <interviewLabel>Simplify Flow To Add CRT Tests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Simplify Flow To Add CRT Tests</label>
    <loops>
        <name>Loop_through_all_metadata</name>
        <label>Loop through all metadata</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_User_Story_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Test_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Test_Record</name>
        <label>Create Test Record</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Configuration__c</field>
            <value>
                <elementReference>TestConfigurationField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ExtensionConfiguration__c</field>
            <value>
                <stringValue>a0f8c00000RHZTAAA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__ReadyToRun__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Test_Records</name>
        <label>Get Test Records</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_test_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TestName</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_metadata.copado__User_Story__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Story_Metadata</name>
        <label>Get User Story Metadata</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userstory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__User_Story_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Account Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>ConfigurationTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Contact Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>LeadRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Lead Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityRegressionTestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Opportunity Regression</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestConfigurationField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{   &quot;testId&quot; : &quot;a1r8c00000CXmKjAAL&quot;,   &quot;testCases&quot; : &quot;&quot;,   &quot;namedCredentialName&quot; : &quot;CRT&quot;,   &quot;namedCredentialId&quot; : &quot;0XA8c0000010zLpGAI&quot;,   &quot;extensionConfigId&quot; : &quot;a0f8c00000RHZTAAA5&quot;,   &quot;crtTestSuiteName&quot; : &quot;{!TestName}&quot;,   &quot;crtTestSuiteId&quot; : &quot;30900&quot;,   &quot;crtRobotId&quot; : &quot;12706&quot;,   &quot;crtProjectName&quot; : &quot;Dan Kellogg&quot;,   &quot;crtProjectId&quot; : &quot;23896&quot;,   &quot;crtOrganizationName&quot; : &quot;Copado Sales Engineers&quot;,   &quot;crtOrganizationId&quot; : &quot;583&quot;  }</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestNameForTestRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userstory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
