flows/SPIFF_Customization.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Determine_which_field_to_update</name>
        <label>Determine which field to update</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Promote_and_Deploy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Deploy_Changes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deploy_Changes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Promote_and_deploy_to_true</targetReference>
            </connector>
            <label>Update Promote and Deploy</label>
        </rules>
        <rules>
            <name>Update_Deploy_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Promote_and_Deploy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Promote_and_Deploy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_deploy_changes_to_false</targetReference>
            </connector>
            <label>Update Deploy Changes</label>
        </rules>
        <rules>
            <name>Update_Ready_to_Promote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notify_Release_Manager_To_Deploy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ready_to_promote_to_true</targetReference>
            </connector>
            <label>Update Ready to Promote</label>
        </rules>
        <rules>
            <name>Update_Notify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Promote_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Promote_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Notify_to_false</targetReference>
            </connector>
            <label>Update Notify</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SPIFF Customization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPIFF Customization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_deploy_changes_to_false</name>
        <label>Update deploy changes to false</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Deploy_Changes__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notify_to_false</name>
        <label>Update Notify to false</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Notify_Release_Manager_To_Deploy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Promote_and_deploy_to_true</name>
        <label>Update Promote and deploy to true</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>copado__Promote_and_Deploy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ready_to_promote_to_true</name>
        <label>Update ready to promote to true</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>copado__Promote_Change__c</field>
            <value>
                <elementReference>$Record.Notify_Release_Manager_To_Deploy__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_which_field_to_update</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
